/* Color pagina */
body 
{ 
	background: white !important;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -130px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 130px; /* .push must be the same height as .footer */
}
.align-center
{
	text-align: center;
}


@font-face {
    font-family: 'ganandofont'; /*a name to be used later*/
    src: url('../fonts/walibi-holland.ttf'); /*URL to font*/
}

/* Estilo imagenes baner home*/


#banner-container
{
	width: 800px; 
	display:inline-block;
}

#left-banner
{
	width: 28%; 
	display: inline-block; 
	text-align: left;
}

#right-banner
{
	width: 28%; 
	display: inline-block; 
	text-align: right;
}

#center-banner
{
	margin-left: 7%; 
	margin-right: 7%; 
	width: 28%; 
	display: inline-block; 
	text-align: center;
}

.banner
{
	opacity: 0.9;
}

.banner:hover
{
	opacity: 1;
}


/* Estilo navbar*/

.navbar .nav > li > a {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.navbar .nav li a
{
	color: #ECF0F1 !important;
}

.navbar .nav li a:hover
{
	text-shadow: -2px 0 #D35400, 0 2px #D35400, 2px 0 #D35400, 0 -2px #D35400;
}

.navbar .nav li a:hover img
{
	opacity: 1 !important;
}

.right-triangle
{
	width: 0px;
	height: 0px;
	margin-right: -40px;
	border-style: solid;
	border-width: 40px 0 0 40px;
	border-color: transparent transparent transparent #e67e22;
}

.left-triangle
{
	width: 0px;
	height: 0px;
	margin-left: -40px;
	border-style: solid;
	border-width: 0 0 40px 40px;
	border-color: transparent transparent #e67e22 transparent;
}

/* perfil usuario*/

.user-profile-right
{
	min-height: 1000px !important;
	background: #ecf0f1;
}

.user-profile-right-edit
{
	min-height: 492px !important;
	background: #ecf0f1;
}

.user-profile-left
{
	background: #ecf0f1;
	margin-left: -0.3% !important; 

}

.top-div-left
{
	border-top-left-radius:10px; 
	border-top-right-radius:10px;
}

.top-title-left
{
	margin-left: 0 !important;
	text-align:center; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	background:#e67e22; 
	color: #fff; 
	border-top-left-radius:10px; 
	border-top-right-radius:10px;
}


.top-div-right
{
	padding-left:3%; 
	margin-left:2% !important;
	border-top-left-radius:10px; 
	border-top-right-radius:10px;
}

.top-title
{
	margin-left:-4.2% !important; 
	text-align:center; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	background:#e67e22; 
	color: #fff; 
	border-top-left-radius:10px; 
	border-top-right-radius:10px;
}

/* Estilo paginacion*/

#pagination_bt li
{
	display: inline-block;
}

#pagination_bt .previous a
{
	opacity: 0.8;
	width: 0px;
	height: 0px;
	line-height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 21px 30px 11.5px 0;
	border-color: transparent #e67e22 transparent transparent;
}

#pagination_bt .next a
{
	opacity: 0.8;
	width: 0px;
	height: 0px;
	margin-top: -2px;
	line-height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 21px 0 11.5px 30px;
	border-color: transparent transparent transparent #e67e22;
}


#pagination_bt .number a
{
	opacity: 0.8;
	border: 4px solid;
	border-color: #e67e22;
	font-size: 14px;
	color: white;
	background-color: #e67e22;
}

#pagination_bt a:hover
{
	opacity: 1;
}

#pagination_bt .disabled a:hover
{
	opacity: 0.8 !important;
	cursor: default;
}
/* acordion cuenta usuario*/

input[type=file]{
	line-height: 9% !important;
}

.ui-accordion-header 
{
	background: #4da0d8 !important;
	color: #FFF !important;
	border: 2px solid #2980B9 !important;
}

.ui-accordion-content
{
	text-align: justify;
	color: #34495E !important;
	max-height: 100px !important;

}

.ui-accordion-header-icon
{
	width: 0 !important; 
	height: 0 !important;
	line-height: 0 !important;
	border-left: 10px solid #34495E;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	top: 63% !important; 
	left: 3% !important;
	background: transparent !important;
}

.ui-accordion-header:hover .ui-accordion-header-icon
{
	
	border-left: 10px solid #fff;
}

.ui-state-active .ui-accordion-header-icon
{
	border-top: 8px solid #fff !important;
   border-left: 6px solid transparent !important; 
   border-right: 6px solid transparent !important; 
   border-bottom: 0 !important;
}

/* estilo elementos modal concurso*/


#contestmodal{
  position: fixed;
  top: 3%;
  left: 40%;
  margin: 0 0 0 -25%;
  padding-top: 1%; 
  padding-bottom: 1%; 
  width: 70% !important;
  border-radius: 0;

}

#contestmodal .modal-body
{
	max-height: 100% !important;
}

.contest-close
{
	padding-right:10px; 
	opacity:0.6 !important; 
	color:white !important;
}

.contest-close:hover
{
	opacity:0.8 !important; 
}

.contest-close-container
{
	background-color:#4da0d8; 
	margin-top:10px; 
	height:40px; 
	width:11.8% !important; 
	margin-left:-1px !important;
}

.contest-title
{
	background-color:#4da0d8; 
	text-align: center; 
	position:relative; 
	z-index:-1; 
	color:white !important;
}


#des{
	overflow-y:auto;
	position:absolute; 
	width:49.5%; 
	background-color:#3498DB;
	padding-top:80px;
}

#pri
{
	overflow-y:auto;
	right:0; 
	position:absolute; 
	width:49.5%; 
	background-color:#2ECC71;
	padding-top:80px;
	cursor: pointer;
}

#bas
{
	overflow-y:auto;
	position:absolute; 
	width:49.5%; 
	bottom:0; 
	background-color:#F39C12;
	padding-top:80px;
	cursor: pointer;
}

#ste
{
	overflow-y:auto;
	right: 0;  
	position:absolute;  
	width:49.5%; 
	bottom:0; 
	background-color:#F1C40F;
	padding-top:80px;
	cursor: pointer;
}

.modal-closed:hover, .modal-closed label:hover{
	cursor: pointer;
}

.tags{
	margin:0;
	padding:0;
	list-style:none;
}

.tags li, .tags a
{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#34495e;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
} 

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #34495e transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.tags a:hover
{
	color: white;
	cursor: default;
}	


.chozen-control-group .chzn-container
{
	width: 100% !important;
}

.chozen-control-group .search-field .default
{
	width: 100% !important;
}

/* Estilo del modal que muestra un mensaje de felicitaciones al postular a un concurso */
#postulation-result
{
	margin-top: -10% !important;
}

/* Estilo para los contenedores de informacion al hacer click en Concursar en los modales */
.upload-content {
	display: none;
	z-index: -1;
	position: absolute;

}

/* Estilo para el mensaje de error en el modal de Sube tu Imagen */
.error-label {
	display: none;
	font-size: 12px;
	color: #E74C3C;
}

.photo-content
{
	padding-left: 3%;
	padding-right: 3.5%;
	height: 412px;
	overflow-y: auto;
	width: 91%;

}

.photo-container
{

	width:100%; 

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

	height:250px; 
	max-height:250px; 
	max-width:100%;
	background-color:#ECF0F1; 
	border: 3px solid #BDC3C7;

}


.trivia-content {
	margin-left: 1%;
	width: 97%;
	height: 412px;
	overflow-y: auto;
}

/*links*/
a:link {text-decoration: none !important} 

a:visited {text-decoration: none !important}


/* Hover imagen concurso*/

.image { position: relative; background-color: white;}
.fade_new{opacity: 0.85;}

#main_videos_list:hover .fade_new{opacity: 1;}


/* Select estilo flat*/
.styled select {
   width: 150px;
   padding-left: 5%;
   font-size: 16px;
   border: 1px solid #E67E22;
   color: white;
   background: url('../img/sort_desc_disabled.png') no-repeat 96% 35% #E67E22;
   height: 41px;
    -webkit-appearance: none;
} 


.styled{
   width: 120px;
   height: 41px;
   overflow: hidden;
}


.chzn-container .chzn-results {
max-height: 200px !important;
overflow-y: auto;
}

.profile-content{
	overflow-y: scroll;
	min-height: 180px;
}

/* Font mensaje hunter */

div.hunter_msj
{
	margin-top: 20%; 
	margin-left:20%;
	color:#f7f6f6; 
	max-width: 60%; 
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}



/* Estilo del logo */

img.image-logo 
{
	position: relative;
	top: -7px;
	height: 32px !important;

}


/* espacios estandar utilizados para separar contenido en la pagina*/

div.space025
{
	min-height: 5px;
}

div.space05
{
	min-height: 10px;
}

div.space1
{
	min-height: 20px;
}

div.space2
{
	min-height: 30px;
}

div.space4
{
	min-height: 60px;
}

	
/* posicion imagen usuario */
img.user_image
{
	margin-top: 32px;
	min-width: 60%;
	max-width: 100%;
}
		


/* Color plateado perfil */
#content div.row-fluid
{	
	position: relative;
	background-color: #ECF0F1;
	max-width: 98%;
	left: 10px;
}


/* formato concursos pagina principal*/

.hidden
{
	display: none;
}

.hasCountdown
{
	padding: 0 !important;
}

div#main_videos_list
{
	margin-left: 1.7%;
	display: block;
}

div.contest_text_main
{
	position: absolute;
	width: 100%;
	bottom: -11%;
	background:  #E67E22  !important;
}

.home-contest-title
{
	width: 104%;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

span.home-contest-author
{
	font-size: 11px;
	color: white;
	font-weight: bold;
}

div.home-video-countdown
{
	width: 100%;
	color: white;
	margin-bottom: 2%;
}


div.row_text_main
{
	position:relative;
	top: -05px;
	margin-top: 0;
}

img.hunter_casting_logo_detail
{
	position: relative;
	margin-top: 15%;
	left: 4%;
	max-height: 100%;
	max-width: 100%;
}




div.fb-like
{
	margin-bottom: 10px;
}

div.button-home-page
{
	margin-left: 20px; 
}


/* Formato links en la parte superior del header */

#headercontent
{
	background: #E67E22 !important;
}

#headercontent li 
{
	display: inline; 
}






/* menu hunter*/
.orange{
	font-size: 12px;
}

.orange .active a,
.orange .active a:hover {
    background-color: #6699CC;
}


/* footer Stuff */
footer
{
	background-color: #E67E22 !important;
	position: relative;
	bottom: 0 !important;
	height: 130px;
}

footer ul
{
	list-style-type: none;
	display: inline;
}

footer a
{
	color: #F1C40F !important;
}

footer a:hover
{
	color: #F5D657 !important;
}

footer .span12
{
	text-align: center;
}

.color_line
{
	width:100%; 
	height: 4px; 
	background: url('../img/lineacolor.jpg');
}


footer #contacto li ul li p 
{
	font-size: 14px;
}
